on:
  pull_request:
  push:
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.12'

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pip
          for req in $(find . -name "requirements.txt"); do
              echo "Installing $req"
              pip install -r $req
          done
          
      - run: |
          python -m coverage run --source=server,client -m unittest discover -s tests -p 'test_*.py'

      - run: |
          python -m coverage report --fail-under=90

  check-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: psf/black@stable
        with:
          options: "--check --verbose"

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - run: |
          python -m pip install --upgrade pip
          pip install pylint
          for req in $(find . -name "requirements.txt"); do
              echo "Installing $req"
              pip install -r $req
          done

      - run: |
          python -m pylint -v $(git ls-files '*.py')
          python -m isort --check --diff $(git ls-files '*.py')
